emails,passwords,method
example1@gmail.com,example1_password,search
example2@gmail.com,example2_password,details
example3@gmail.com,example3_password,details
example4@gmail.com,example4_password,details